:root{
    --font-color: hsla(32, 90%, 43%, 0.9);
    --bar-color: hsla(216, 69%, 45%, 1);


}


@font-face {
  
    font-family: 'yarta';
    src: url(../data/Yatra_One/YatraOne-Regular.ttf);

}

li{
    font-family: 'yarta', cursive;
    font-weight: 400;
    color: var(--font-color);

    
}



div.navbar{
    position: fixed;
    top: 0%;
    bottom: 90%;
    width: 100%;
    left: 0%;
    background-color: var(--bar-color); 
    z-index: 3;
}

div.navbar li{
    display: inline-block;
    background-color: hsl(27, 92%, 48%);
    margin-right: 5%;
    border-radius: 25px 80%/50px 50%;
}

div.foot{
    position: relative;
    bottom: 0%;
    top: 100%;
    left: 0%;
    width: 100%;
    text-align: center;
    z-index: 3;
}


div.introduction{
    position: relative;
    top: 10%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    letter-spacing: 5px;
    line-height: 150%;
}

h1{
    text-align: center;
}

div.powerBillForm{
    position: relative;
    padding-top: 5%;
    padding-right: 20%;
    text-align: right;


}


div.table{
    position: relative;
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
}

table{

    border: 5px solid black;
    border-radius: 5%;
}
 tr:nth-child(2n){
    background-color: rgba(127, 255, 212, 0.5);
 }